openapi: 3.0.3
info:
  title: Sturdy Statistics API Documentation
  version: 1.0.0
  description: |-
    Access Forem articles, users and other resources via API.
            For a real-world example of Forem in action, check out [DEV](https://www.dev.to).
            All endpoints can be accessed with the 'api-key' header and a accept header, but
            some of them are accessible publicly without authentication.

            Dates and date times, unless otherwise specified, must be in
            the [RFC 3339](https://tools.ietf.org/html/rfc3339) format.
paths:
  /text/v1/index:
    post:
      summary: Create a new Index 
      tags:
        - text 
      description: >-
        This endpoint allows the client to create a new index.

        "Indexes" are all the core building block for storing, indexing and
        querying data.
      operationId: createIndex 
      parameters: []
      responses:
        '200':
          description: New Index Information
          content:
            application/json:
              example:
                index_id: index_a3cd8f52a42b4ee3841dacfe9408d4cd
                name: Index Name 
                state: untrained 
              schema:
                $ref: '#/components/schemas/IndexInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                error: unauthorized
                status: 401
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createIndexInput'
    get:
      summary: Get list of Indices
      tags:
        - text
      description: Returns a list of all created indices tied to your api key.
      parameters:
        - name: api_key
          in: query
          required: true
          description: API Key.
          schema:
            type: string
      responses:
        '200':
          description: A list of index metadata
          content:
            application/json:
              example:
                - index_id: index_a3cd8f52a42b4ee3841dacfe9408d4cd
                  name: Index_Name_1 
                  state: untrained 
              schema:
                items:
                  $ref: '#/components/schemas/IndexInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                error: unauthorized
                status: 401
servers:
  - url: https://lit.review/api
    description: Production server
security:
  - api-key: []
components:
  securitySchemes:
    api-key:
      type: apiKey
      name: api_key
      in: query
      description: >-
        API Key authentication.

        Articles API require a DEV API key.
        To obtain one, please follow these steps:
          - visit https://dev.to/settings/extensions
          - in the "DEV API Keys" section create a new key by adding a
            description and clicking on "Generate API Key"

            ![obtain a DEV API Key](https://user-images.githubusercontent.com/37842/172718105-bd93664e-76e0-477d-99c4-265dda0b06c5.png)

  schemas:
    createIndexInput:
      description: Information Needed to create an index 
      type: object
      properties:
        api_key:
          type: string
        name:
          type: string
    IndexInfo:
      description: Index Information 
      type: object
      properties:
        index_id:
          type: string
        state:
          type: string
        name:
          type: string
